*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 0 0;
  margin: 0;
}

.button {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  width: 100%;
  margin: 2rem 0;

}


.container {
  width: 100%;
  min-height: 500px;
  padding: 0 2rem;

}

.copyright {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

.counter {
  background-color: green;
  width: 100%;
  min-height: 150px;
  margin-top: 30rem;
}




footer {
  background-color: #012F65;
  min-height: 284px;
  margin-bottom: 0;
  margin-top: 2rem;
  text-align: center;

}

.footer-logo {
  width: 200px;
  margin: 2rem 0;

}


.header {
  background: url(/images/header_image.jpg) center / cover;
  height: 100vh;
  text-align: center;
  color: #ffffff;
  padding: 5rem 1rem;
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;


}


html {
  font-size: 10px;
}

.icon {
  width: 40px;
  height: auto;
  margin: 0 1rem;2


}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 4rem;
  font-size: 1.8rem;

}

input[type=button] {
  background:none;
  border:none;
  color:#FFF;
  cursor:pointer;

}

li {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}


li.details {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size: 1.8rem;
  line-height: 1.7;
  list-style-type: none;


}

.logo {
  width: 90%;
}

.movie-details {
  padding: 1rem 0;
  text-align: left;

}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:  100;
  font-size: 1.8rem;
  line-height: 1.5;
}

p.notify {
  color: red;
}

.responsive {
  width: 100%;
  height: auto;
}

section {
  width: 100%;
  margin: 2rem 0;
}

section.countdown {
  width: 100%;
  min-height: 150px;
  margin-top: 30rem;
}

section.details {
  width: 100%;
  margin: 2rem 0;
  text-align: center;

}

section.notify {
  margin: 2rem 0;

}

section.poster {
  width: 100%;
}

section.social {
  margin: 2rem 0;
  text-align: center;


}

section.video {
  text-align: center;
}


.trailer-bar {
  background-color: #D4344D;
  padding: 10px 0;
  text-align: center;

}

ul {
  padding-left: 1rem;
}

.video {
  width: 100%;
  text-align: center;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    text-align: center;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    text-align: center;
}

/** Ipad **/

@media screen and (min-width: 768px) {

  li {
    font-size: 2rem;

  }

  li span {

    font-size: 8rem;
  }

  .logo {
    width: 65%;
  }

  .responsive {
    width: 85%;
    height: auto;
  }

  section.countdown {
    margin-top: 45rem;
  }

}

/*** desktop ***/

@media screen and (min-width: 1024px) {

  .logo {
    width: 45%;
  }

  .responsive {
    width: 85%;
    height: auto;
  }

  section.details {
  display: grid;
  grid-gap: 20px;
  padding: 2rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr) ) ;

  }



}

@media screen and (min-width: 1500px) {

  .logo {
    width: 35%;
  }

  .responsive {
    width: 85%;
    height: auto;
  }

  section.details {
  display: grid;
  grid-gap: 20px;
  padding: 2rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr) ) ;

  }

  .video {
    width: 100%;
    text-align: center;
  }
  .video-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      text-align: center;
  }
  .video-responsive iframe{
      left:12rem;
      top:0;
      height:80%;
      width:80%;
      position:absolute;
      margin-bottom: 0;

  }

}

@media screen and (min-width: 1700px) {

  .logo {
    width: 25%;
  }

  .responsive {
    width: 65%;
    height: auto;
  }

  section.countdown {
    margin-top: 40rem;
  }

}
